server/temp_uploads
./client/node_modules
server/node_modules
server/models
server/.env
client/.env
server/project_uploads
server/models/
client/jest.config.js
client/tsconfig.jest.json
client/src/components/__mocks__
client/src/components/CodeEditor.test.tsx